body {
   font-family: "Verdana";
   background-color: black;
   color: white;
   text-align: center
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

#download {
    color: aquamarine;
    font-size: 16px;
}

a {
    color: aquamarine;
}

h2 {
    color: gray;
    font-weight: normal;
    font-size: 21px;
}

footer {
    color: gray;
    text-align: right;
}